body {
    background-color: #FFF8DC;
    margin: 0;
    padding: 0;
}

.bg-image {
    width: 100%;
}

.mango-cards-container{
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background: #fff8e1;
    width: 220px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    padding: 0 10px 15px;
    font-size: 14px;
}

.know {
    background-color: rgb(188, 175, 30);
    color: white;
    border-radius: 8px;
    margin: 10px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}